<div id='question'>
<h4>Here's what you asked:</h4>
<p><%= params[:question] %></p>
</div>

<div id='answer'>
<h4>And here's my answer!</h4>
<p><%= @answer %></p>
</div>

<%= link_to 'Ask again!', 'ask' %>
